<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel-classes='classes' thread-count='2'>
  <test name="Test">
    <classes>
      <class name="com.paralle.tests.AddTest"/>
         <class name="com.paralle.tests.DivideTest"/>
            <class name="com.paralle.tests.MinusTest"/>
               <class name="com.paralle.tests.MultiplyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
